{% extends 'admin/base.html.twig' %}

{% block title %}Edit Slider - Admin Panel{% endblock %}

{% block body %}
    <div class="summary">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="def-cart mt-4">
                        <h4 class="font-weight-bold">Edit Slider</h4>
                        <p>You can edit slider information below.</p>
                        {{ form(slider_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
