{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}

{% block body %}
    {% include 'breadcrumb.html.twig' with {'title': 'Contact' ,'description': 'If you have any question, use form below' } %}
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                {% for message in app.flashes('error') %}
                    <div class="alert alert-error">
                        {{ message }}
                    </div>
                {% endfor %}

                {{ form(contact_form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}
