<section class="page-breadcrumb">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h3 class="title">{{ title }}</h3>
                <p class="description mb-0">{{ description }}</p>
            </div>
        </div>
    </div>
</section>
