<section class="user-navbar">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="{{ path('user_profile') }}"><i class="bi bi-person-circle"></i> Profile</a>
                <a href="{{ path('user_home') }}" class="active"><i class="bi bi-link"></i> Shortened Links</a>
            </div>
        </div>
    </div>
</section>
